<h1>About</h1>
<p>2 years ago, I changed careers to become a web developer and haven't looked back. Since then, I've sharpened my skills through building and managing hundreds of websites as the lead developer for a small business.

I love working with React, Redux and Node. If you happen to have a project that uses those technologies, I am probably interested in working with you. Also, if you are interested in working with me, please send an email to svwielga4 [at] gmail [dot] com.

Thank You for visiting.</p>
