<div class="inner cover">
    <h1 class="cover-heading">I'm Stanley Wielga.</h1>
    <p class="lead">Hi</p>
    <p class="lead">
        <%= link_to 'About Me', about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>


